{{template "header" .LogAsAdmin}}
<div class="container">
	{{range .Courses}}
		<div>
			<h5><a href={{.Link}}>{{.Title}}</a></h5>
			<p>{{.Description}}</p>
		</div>
	{{end}}
	<div class="docs-section" style="margin:0px;padding:10px"></div>
</div>
{{template "footer"}}	
