	{{template "header"}}
	{{if not .}}
	<div class="container">
		<form method="POST" action="/login">
			<label>Login</label><input name="login" type="text" value="" />
			<label>Password</label><input name="password" type="password" value="" />
			<input type="submit" value="login" />
		</form>
	</div>
	{{end}}
	{{template "footer"}}
