{{template "header" .LoggedIn}}
<ul>
	{{range .Posts}}
	<li><h3><a href="/post?id={{.Id}}">{{.Title}} {{.Date}}</a></h3></li>
	{{end}}
</ul>
	<a class="u-pull-left" href="{{.PrevPage}}">Prev Page</a>
	<a class="u-pull-right" href="{{.NextPage}}">Next Page</a>
	</div>
{{template "footer"}}
