{{template "header" .LoggedIn}}
<div class="container">
	<h4>{{.Post.Title}}</h4>
	<p>{{.Post.Body}}</p>
	<div class="u-pull-right">
		<h6>{{.Post.Date}}</h6>
	</div>
	<div class="docs-section" style="margin:0px;padding:10px"></div>
	<br>
	<a href="https://github.com/login/oauth/authorize/?client_id=4429cbe75ab7b5e1aab9&redirect_uri=http://localhost:8080/auth-callback">Login via github.com</a>
</div>
{{template "footer"}}	
