{{template "header" .}}
{{if .}}
<div>
	<form method="POST" action="/publish">
		<label>Title</label><input name="title" class="u-full-width" type="text" value="" />
		<label>Body</label><textarea name="body" class="u-full-width" placeholder="Article"></textarea>
		<input type="submit" value="submit" />
	</form>
</div>
{{end}}
{{template "footer"}}
