{{template "header" .LogAsAdmin}}
<div class="container">
	<form method="POST" action="/update">
		<input type="hidden" name="slug" value="{{.Post.Slug}}">
		<label>Title</label><input name="title" class="u-full-width" type="text" value="{{.Post.Title}}" />
		<label>Body</label><textarea name="body" class="u-full-width" placeholder="Article">{{.Post.Body}}</textarea>
		<input type="submit" value="submit" />
	</form>
</div>
{{template "footer"}}
